<h1>Productos</h1>
<table>
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Descripción</th>
      <th>Precio</th>
      <th>Stock</th>
      <th>Acciones</th>
    </tr>
  </thead>
  <tbody>
    <% @products.each do |product| %>
      <tr>
        <td><%= product.name %></td>
        <td><%= product.description %></td>
        <td><%= product.price %></td>
        <td><%= product.stock %></td>
        <td>
          <%= link_to 'Ver', product_path(product) %>
          <%= link_to 'Editar', edit_product_path(product) %>
          <%= button_to 'Eliminar', product_path(product), method: :delete, data: { confirm: "¿Estás seguro?" } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= link_to 'Nuevo Producto', new_product_path %>
